# Node modules
node_modules/
npm-debug.log*

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
